# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE environments (PyCharm)
.idea/

# Virtual environments (highly recommended to use instead of system Python)
.venv/
venv/
ENV/
.env
.venv